/* MAIN STYLES */

.button {
    display: block;
    width: 100%;
    height: 50px;
    padding: 15px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  
    /* Estilos para el estado normal */
    &:not(:hover) {
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    }
  
    /* Estilos para el estado hover */
    &:hover {
      background-color: #eeeeee;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    }
  }
  
  .button .icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  